<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 全局初始化参数的配置 -->
  <context-param>
  	<param-name>UserName</param-name>
  	<param-value>xmy</param-value>
  </context-param>
  <context-param>
  	<param-name>PassWord</param-name>
  	<param-value>xxx</param-value>
  </context-param>
  
  <!-- 配置Servlet -->
  <servlet>
  	<!-- Servlet名称 -->
  	<servlet-name>ServletDemo3</servlet-name>
  	<!-- Servlet全路径 -->
  	<servlet-class>com.servlet.demo.ServletDemo3</servlet-class>
  </servlet>
  
  <!-- 配置Servlet的映射 -->
  <servlet-mapping>
  	<servlet-name>ServletDemo3</servlet-name>
  	<!-- 配置访问路径  完全路径匹配 -->
  	<url-pattern>/ServletDemo3</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>ServletDemo4</servlet-name>
  	<servlet-class>com.servlet.demo.ServletDemo4</servlet-class>
  	<!-- 配置启动时加载  数字越小启动优先级越高 从数字2开始 -->
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletDemo4</servlet-name>
  	<url-pattern>/ServletDemo4</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>ServletDemo5</servlet-name>
  	<servlet-class>com.servlet.demo.ServletDemo5</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletDemo5</servlet-name>
  	<!-- 完全路径匹配 -->
  	<!-- <url-pattern>/ServletDemo5</url-pattern> -->
  	<!-- 目录匹配  *代表任意字符-->
  	<!-- <url-pattern>/xxx/*</url-pattern> -->
  	<!-- 扩展名匹配 -->
  	<url-pattern>*.xxx</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>ServletDemo6</servlet-name>
  	<servlet-class>com.servlet.demo.ServletDemo6</servlet-class>
  	<!-- 配置Servlet的初始化参数 -->
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>sa</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>a</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletDemo6</servlet-name>
  	<url-pattern>/ServletDemo6</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ServletDemo7</servlet-name>
  	<servlet-class>com.servlet.demo.ServletDemo7</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletDemo7</servlet-name>
  	<url-pattern>/ServletDemo7</url-pattern>
  </servlet-mapping>
  
  
  <!-- web中监听器的配置 -->
  <!-- <listener>
  	<listener-class>com.listener.weblistener.MyServletContextListener</listener-class>
  </listener> -->
  
  <!-- <listener>
  	<listener-class>com.listener.weblistener.MyHttpSessionListener</listener-class>
  </listener>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config> -->
  
 <!--  <listener>
  	<listener-class>com.listener.weblistener.MyServletRequestListener</listener-class>
  </listener> -->
  
  <listener>
  	<listener-class>com.onlinecount.OnlineCountServletContextListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.onlinecount.OnlineCountHttpSessionListener</listener-class>
  </listener>
  
  <!-- <listener>
  	<listener-class>com.listener.weblistener.MyHttpSessionAttributeListener</listener-class>
  </listener> -->
</web-app>