<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.servlet.demo.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.servlet.demo.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo2</display-name>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.servlet.demo.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo8</display-name>
    <servlet-name>ServletDemo8</servlet-name>
    <servlet-class>com.servlet.demo.ServletDemo8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo8</servlet-name>
    <url-pattern>/ServletDemo8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo</display-name>
    <servlet-name>ResponseDemo</servlet-name>
    <servlet-class>com.servlet.demo.ResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo</servlet-name>
    <url-pattern>/ResponseDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.servlet.demo.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo1</display-name>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.servlet.demo.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo2</display-name>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>com.servlet.demo.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo3</display-name>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>com.servlet.demo.RequestDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/RequestDemo3</url-pattern>
  </servlet-mapping>
  
  <!-- 过滤器的配置 -->
  <!-- <filter>
  	<filter-name>FilterDemo1</filter-name>
  	<filter-class>com.filter.demo.FilterDemo1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo1</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
  	<filter-name>FilterDemo2</filter-name>
  	<filter-class>com.filter.demo.FilterDemo2</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
  	<filter-name>FilterDemo3</filter-name>
  	<filter-class>com.filter.demo.FilterDemo3</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo3</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  <filter>
  	<filter-name>FilterDemo4</filter-name>
  	<filter-class>com.filter.demo.FilterDemo4</filter-class>
  	<!-- 配置初始化参数 -->
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>xxx</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo4</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
   <filter>
  	<filter-name>GenericEncodingFilter</filter-name>
  	<filter-class>com.filter.demo.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>GenericEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>